include COPYING COPYING.LESSER
include *.rst
include releaseutils.py
recursive-include tests *.py *.po *.pot *.mo
recursive-include kitchen2/docs *
recursive-include kitchen3/docs *
include po/*.pot
include po/*.po
include locale/*/*/*.mo
recursive-include kitchen2 *.py *.po *.mo *.pot
recursive-include kitchen3 *.py *.po *.mo *.pot
include runtests.sh
