include COPYING COPYING.LESSER NEWS HACKING
include releaseutils.py
recursive-include tests *.py *.po *.pot *.mo
recursive-include docs *
include po/*.pot
include po/*.po
include locale/*/*/*.mo
recursive-include kitchen2 *.py *.po *.mo *.pot
recursive-include kitchen3 *.py *.po *.mo *.pot
include runtests.sh
